@using Microsoft.AspNetCore.Http;
@using AceBook.Models;
@{
    ViewData["Title"] = "Profile";

    var userId = Context.Session.GetString("userId");

    var user = AceBook.Models.User.GetUserById(userId);

    var profileUserId = ViewData["userId"].ToString();

    var profileUser = AceBook.Models.User.GetUserById(profileUserId.ToString());

    var outgoingRequests = Friend.GetOutgoingRequest(user.Email).Where(r => r.ReceiverEmail == profileUser.Email).ToList();
    var incomingRequests = Friend.GetIncomingRequest(user.Email).Where(r => r.RequesterEmail == profileUser.Email).ToList();
    var requests = outgoingRequests.Concat(incomingRequests).ToList();
}

@section Styles {
    <link rel="stylesheet" href="~/css/register.css" />
}

<div class="col-md-8 offset-md-2 ">
    <div class="friend-request">
        @if (requests.Count == 1)
        {
            @if (requests.First().Status == 0 )
            {
                <p id="friendRequestSentMessage">Friend request @(requests.First().RequesterEmail == user.Email ? "sent" : "received")</p>
            }
            else if (requests.First().Status == 1) 
            {
                <p id="friendRequestAcceptedMessage">You are friends</p>
            }
            else
            {
                <p id="friendRequestDeclinedMessage">This person does not want to be friends with you at the moment</p>
            }

        }
        else if (profileUserId != userId) 
        {
            <a class="btn" id="sendFriendRequestButton" asp-controller="User" asp-action="AddFriend" asp-route-receiverEmail="@profileUser.Email" asp-route-receiverId="@profileUserId">Send Friend Request</a>
        }
    </div>

    <div class="container row">
    <div class="col s8 offset-s2 z-depth-6 card-panel profile-card topMargin">
            <div class="col-md-8 offset-md-2 ">
                <h5 class="profile-title "id="title">Profile</h5>
                <form id="register" method="post">
                    <div class="form-group input-section">
                        <label for="firstName">
                            First Name
                        </label>
                        <input id="firstName" name="firstName" type="text" value="@profileUser.FirstName"/>
                    </div>
                    <div class="form-group input-section">
                        <label for="lastName">
                            Last Name
                        </label>
                        <input id="lastName" name="lastName" type="text" value="@profileUser.LastName"/>
                    </div>
                    <div class="form-group input-section">
                        <label for="email">
                            Email
                        </label>
                        <input id="email" name="email" type="text" value="@profileUser.Email"/>
                    </div>
                    <div class="form-group input-section">
                        <label for="birthDate">
                            Date of Birth
                        </label>
                        <input id="birthDate" autocomplete="off" name="birthDate" type="text" value="@profileUser.BirthDate" class="input-group datepicker"/>
                    </div>
                    <div class="form-group input-section">
                        <label for="gender">
                            Gender
                        </label>
                        <input id="gender" name="gender" value="@profileUser.Gender" type="text"/>
                    </div>
                    <div class="form-group input-section bottom-padding">
                        <label for="phoneNumber">
                            Phone Number
                        </label>
                        <input id="phoneNumber" name="phoneNumber" value="@profileUser.PhoneNumber" type="text"/>
                    </div>
                </form>
            </div>
     </div>
    </div>

</div>


@section Scripts {
<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy"
        });
    });
</script>
}